{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
 <table class="table">
   <h1> {{ activite.NomActivite }} </h1>  <h4> Date&Heure du rendez-vous pour l'activité : {{activite.HeureRdv|date('Y-m-d H:i')}} </h4> 
   <tr>  <td> <img src="{{ asset('uploads/images/' ~ activite.image) }}" height="300" width="500" /> 
   </a> 
   <td> {{ activite.DescriptionActivite}} 
   </td> </tr>
   
   {% if app.user %}
    <a href="{{ path('inscription_new', {'id': activite.id}) }}" > <h2>Participez</h2> </a> </td> </tr>
 {% else %}
    <a href="{{ path('app_register', {'id': activite.id}) }}" >  <h4>Créer un compte pour Participez</h4> </a> </td> </tr>
 {% endif %}
    
   </table>
{% endblock %}
